{% load static %}

<div class="table-responsive">
    <table class="table">
        <tr>
            <th>Imagem</th>
            <th>Produto</th>
            <th>V.</th>
            <th>Quantidade</th>
            <th>Preço Unitário</th>
            <th>Remover</th>
            <th>Total</th>
        </tr>
        {% for item in cart.values %}
            <tr>
                <td>
                    #
                </td>
                <td>
                    <a href="{% url 'products:detail' item.slug %}">
                        {{ item.product_name }}
                    </a>
                </td>
                <td>
                    {{ item.variation_name }}
                </td>
                <td>
                    {{ item.quantity }}un.
                </td>
                <td>
                    {% if item.unitary_sale_price %}
                        {{ item.unitary_sale_price }}
                    {% else %}
                        {{ item.unitary_price }}
                    {% endif %}
                </td>
                <td>
                    <a class="ml-3" href="{% url 'cart:remove' %}?variation_id={{ item.variation_id }}">
                        <span class="jam jam-trash"></span>
                    </a>
                </td>
                <td>
                    {% if item.summed_sale_price %}
                        <td>{{ item.summed_sale_price }}</td>
                    {% else %}
                        <td> {{ item.sale_price }}</td>
                {% endif %}                            
                </td>
            </tr>
        {% endfor %}
    </table>
</div>