{% load static %}

<div class="container">
  <div class="card-deck">
    {% for product in product_list %}
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card text-center h-100">
        <div
          onclick="window.location='{% url 'products:detail' product.slug %}';"
          style="cursor: pointer;"
        >
          <img
            src="{{product.image.url}}"
            class="card-img-top"
            height="150px"
            width="150px"
            title="{{product.name}}"
          />
        </div>
        <div class="card-body">
          <!--TODO - Make rating loop\/-->
          <span class="card-title">
            <p>
              <strong>
                {{product.name}}
                <a href="#TODO" title="Curtir"><span class="jam jam-heart"></span></a>
              </strong>
            </p>
          </span>

          <span class="card-text text-right">
            {% if product.discount %}
              {{ product.discount }} 
            {% endif %}
            <br />
            {% if product.price %}
              <h4><strong>R$ </strong>{{product.price}}</h4>
            {% endif %}
            {% if product.category %}
              <p>
                Categoria:
                <a
                  href="{% url 'products:product_by_category' product.category.slug %}" title="{{ product.category }}"
                  >{{ product.category }}</a
                >
              </p>
            {% endif %}
          </span>

          <!--TODO - ON HOVER \/-->
          <a class="btn btn-primary btn-sm" href="#TODO" title="Detalhes">Detalhes</a>
          <a class="btn btn-success btn-sm" href="{% url 'checkout:create_cartitem' product.slug %}" title="Adicionar ao Carrinho">Adicionar ao Carrinho</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
