{% extends "base.html" %} 
{% block title %}Produtos | {{block.super}} {% endblock title %} 
{% block pageheader %}
<div class="page-header text-center mb-4">
  <h1>Nossos Produtos</h1>
</div>
{% endblock pageheader %}
{% block content %}
<div class="container">
  <div class="card-deck">
    {% for product in product_list %}
    <div class="col-sm-6 col-md-4">
      <div class="card h-100 w-100" style="padding: 5pt;">
        <p class="text-center">
          <a class="btn-link btn-sm " href="{% url 'products:product_by_category' product.category.slug %}">{{product.category}}</a>
        </p>
        {% if product.image %}
        <img src="{{product.image.url}}" class="card-img-top img-responsive"
          height="220px"
          width="220px"
          title="{{product.name}}"
        />
        {% else %}
        <img
          src="http://placehold.it/650x450text=Imagem"
          class="card-img img-responsive"
        />
        {% endif %}
        <div class="card-body">
          <div class="row">
            <div class="col-md-9 col-xs-3"><h4><strong id="nm{{product.id}}">{{product.name}}</strong></h4></div>
            {% if product.has_discount_price %}
              <div class="col-md-3 col-xs-3"><div id="price{{product.id}}">{{product.discount_price}}</div><del id="dprice{{product.id}}">{{product.price}}</del></div></div>
            {% else %}
              <div class="col-md-3 col-xs-3"><div id="price{{product.id}}">{{product.price}}</div></div></div>
            {% endif %}
          <p>{{product.get_short_description}}</p>
        </div>
        <div class="row">
          {% if request.user.is_authenticated and request.user.is_staff %}
          <div class="col-md-12">
            <a
              class="btn btn-primary btn-success btn-block"
              href="{% url 'products:detail' product.slug %}"
              title="Detalhes"
              >Detalhes</a
            >
          </div>
          {% else %}
          <div class="col-md-6">
            <a
              class="btn btn-primary btn-success btn-block"
              href="{% url 'products:detail' product.slug %}"
              title="Detalhes"
              >Detalhes</a
            >
          </div>
          <div class="col-md-6">
            <button 
            id ={{product.id}}
            class="btn atc btn-secondary btn-success btn-block"
              href="#TODO"
              title="Adicionar ao Carrinho"
              ><span class="jam jam-shopping-cart"></span
            ></button>
          </div>
          {% endif %} 
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
{% block javascript %}
{{block.super}}
<script type="text/javascript"> 
  if(localStorage.getItem('cart')==null){
      var cart = {};
  }
  else{
    cart = JSON.parse(localStorage.getItem('cart'));
  }

  $(document).on('click','.gca',function(){
    DisplayCart(cart);
  });

  $(document).on('click','.atc',function(){
      console.log("The add to cart button was clicked");
      var item_id = this.id.toString();
      console.log(item_id);
      if(cart[item_id]!=undefined){
                quantity = cart[item_id][0] + 1;
                cart[item_id][0] = quantity;
                cart[item_id][2] = cart[item_id][2] + parseFloat(document.getElementById("price"+item_id).innerHTML);
                console.log(cart[item_id]);
            }
            else{
                quantity = 1;
                name = document.getElementById("nm"+item_id).innerHTML;
                price = parseFloat(document.getElementById("price"+item_id).innerHTML);
                cart[item_id]=[quantity,name,price];
                console.log(cart[item_id]);
            }
            console.log(cart);
            localStorage.setItem('cart',JSON.stringify(cart));
            document.getElementById('cart').innerHTML = "Carrinho("+Object.keys(cart).length+")";
  });
  DisplayCart(cart);
    function DisplayCart(cart){
        var cartString = "";
        cartString += "<h4>Seu Carrinho</h4>";
        var cartIndex = 0;
        for(var x in cart){
            cartString += cartIndex;
            cartString += document.getElementById("nm"+x).innerHTML + "Qtd:" + cart[x][0] + "</br>";
            cartIndex  += 1;
        }
        cartString += "</br>";
        cartString += "<a href='{% url 'checkout:checkout' %}' class='btn btn-outline-success' id='checkout'>Finalizar Compra</a>";
        document.getElementById("cart").setAttribute('data-content',cartString);
        $('[data-toggle="popover"]').popover();
    }
</script>
{% endblock javascript %}