{% extends "base.html" %} 
{% block title %} 
    {{ product.name }} | {{ block.super}} 
{% endblock title%}

{% block content %}
<a class="btn btn-outline-secondary btn-sm" href="{% url 'products:list' %}" role="button">
    Voltar
</a>
<hr>
<div class="row">
  <div class="col-sm-6">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/500x500" alt="" />
    </a>
  </div>
  <div class="col-sm-6">
    <div class="product_detail__info">
      <h1>{{ product.name }}</h1>
      <p>{% if product.category %}
      <a
        href="{% url 'products:product_by_category' product.category.slug %}"
        title="{{ product.category }}"
        >{{ product.category }}</a
      >
      {% endif %}
      </p>
      <h5>
        <del>R${{ product.price }}</del>
      </h5>
      <h3 class="product_detail__sale_price">
        <big> R${{product.sale_price}}</big> - <small>{{ product.get_discount }}% Off!!</small>
      </h3>
      <p>{{ product.description }}</p>
    </div>
    <a
      class="btn btn-success btn-sm col-sm-5 mr-1"
      href="{% url 'checkout:create_cartitem' product.slug %}"
      title="Adicionar ao Carrinho"
      >Adicionar ao Carrinho <span class="jam jam-shopping-cart"></span
    ></a>
  </div>
</div>

{% endblock content %}
<!--

    description
    weight
    TODO:
     custom css
-->
