{% extends "base.html" %}
{% load pagination %}
{% block title %} Administração de Produtos | {{ block.super }} {% endblock title %} 

{% block pageheader %}
<div class="page-header text-center mb-4">
</div>
<hr>
{% endblock pageheader %}

{% block content %}
  <!-- Action buttons -->
  <div class="row">
    <div class="col-sm-12">
      <a class="btn btn-outline-primary"    href="{% url 'users:update' %}" role="button">Adicionar Produto</a>
      <a class="btn btn-outline-secondary"  href="{% url 'addresses:list' %}" role="button">Endereços</a>
      <a class="btn btn-outline-success"    href="#TODO" role="button">Meus Pedidos</a>
    </div>
  </div>
  <!-- End Action buttons -->
<a class="btn btn-outline-primary" href="/users/~update/" role="button">Adicionar Produto</a>
<a class="btn btn-outline-primary" href="/users/~update/" role="button">Adicionar Produto</a>
{% endblock content %}