{% extends "base.html" %} 
{% load static %} 
{% block title %}
{{ object.username}} | {{ block.super }}
{% endblock %} 

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>
        Olá,
        {% if object.first_name %}
          {% if object.prefix %}  
            {{object.prefix}}  {{object.get_fullname}} 
          {% else %} 
            {{object.get_fullname}}
          {% endif %} 
        {% endif %}
      </h2>
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Prefixo:</th>
              <td>
                {% if object.prefix %} {{ object.prefix }} {% endif %}
              </td>
            </tr>
            <tr>
              <th scope="row">Nome:</th>
              <td>
                {% if object.first_name %} {{ object.first_name }} {% endif %}
              </td>
            </tr>
            <tr>
              <th scope="row">Sobrenome:</th>
              <td>
                {% if object.last_name %} {{ object.last_name }} {% endif %}
              </td>
            </tr>
            <tr>
              <th scope="row">CPF:</th>
              <td>{% if object.cpf %} {{ object.cpf }} {% endif %}</td>
            </tr>
            <tr>
              <th scope="row">E-Mail Primário:</th>
              <td>
                {{ object.email }}
              </td>
            </tr>
            <tr>
              <th scope="row">Data de Nascimento:</th>
              <td>{% if object.dob %} {{ object.dob }} {% endif %}</td>
            </tr>

            <tr>
              <th scope="row">Data de Cadastro:</th>
              <td>{{ object.join_date }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {% if object == request.user %}
  <!-- Action buttons -->
  <div class="row">
    <div class="col-sm-12">
      <a
        class="btn btn-outline-primary"
        href="{% url 'users:update' %}"
        role="button"
        >Atualizar Perfil</a
      >
      <a
        class="btn btn-outline-info"
        href="{% url 'account_email' %}"
        role="button"
        >Contas de E-Mail</a
      >
      <a
        class="btn btn-outline-info"
        href="{% url 'account_change_password' %}"
        role="button"
        >Mudar Senha</a
      >
      {% if user.request.is_customer %}
      <a
        class="btn btn-outline-secondary"
        href="{% url 'addresses:list' %}"
        role="button"
        >Endereços</a
      >
      <a class="btn btn-outline-success" href="#TODO" role="button"
        >Meus Pedidos</a
      >
      {% endif %}
    </div>
  </div>
  <!-- End Action buttons -->
  {% endif %}
</div>
{% endblock content %}