{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }} | {{ block.super }}{% endblock %}

{% block content %}
  <h1>Perfil de <em>{{ user.get_fullname }}</em></h1>
  <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Atualizar Info</button>
      </div>
    </div>
  </form>
  <br>
  <a
  class="btn btn-outline-info"
  href="{% url 'account_change_password' %}"
  role="button"
  >Mudar Senha</a
  >
  <h2>
    Deseja modificar as informações desabilitadas?
  </h2>
  <a href="#TODO-CONTACTSUPPORT"><button type="submit" class="btn btn-secondary">Contactar Suporte Técnico</button></a>
{% endblock %}