{% load static %} 
{% load static i18n compress %}
<nav
  class="navbar navbar-expand-md sticky-top flex-nowrap navbar-light bg-white"
>
  <div class="navbar-header">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img
        style="height: 40px; width: 65px"
        src='{% static "images/logo_peq.png" %}'
        alt="My image"
    /></a>
  </div>
  <div class="navbar-toggler-right">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse flex-column" id="navbar">
    <ul class="navbar-nav w-100 justify-content-center px-2">
      <li class="nav-item">
        <form
          action="{% url 'products:search_results' %}"
          method="get"
          class="mr-2 my-auto w-100 d-inline-block order-1"
        >
          <div class="input-group">
            <input
              type="search"
              name="q"
              placeholder="Buscar..."
              class="form-control border border-right-0"
            />
            <span class="input-group-append">
              <button class="btn border border-left-0" type="submit">
                <span class="jam jam-search"></span>
              </button>
            </span>
          </div>
        </form>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-center w-100 bg-light px-3">
      {% if request.user.is_authenticated and request.user.is_admin %}
      <li class="nav-item">
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
            ><span class="jam jam-menu"></span> {% trans "Menu Administrativo"  %}
          </a>

          <ul class="dropdown-menu">
            <a class="nav-link" href="#TODO"
              ><span class="jam jam-document"></span> {% trans "Pedidos" %}</a
            >
            <a class="nav-link" href="#TODO"
              ><span class="jam jam-activity"></span> {% trans "Relatórios" %}</a
            >
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
            ><span class="jam jam-menu"></span> {% trans "Menu Usuários" %}
          </a>
          <ul class="dropdown-menu">
            <a class="nav-link" href="{% url 'users:stafflist'%}"
              ><span class="jam jam-document"></span> {% trans "Colaboradores" %}</a
            >
            <a class="nav-link" href="{% url 'users:staffsignup'%}"
              ><span class="jam jam-plus"></span> {% trans "Adicionar Colaborador" %}</a
            >
            <a class="nav-link" href="{% url 'users:customerlist'%}"
              ><span class="jam jam-document"></span> {% trans "Clientes" %}</a
            >
          </ul>
        </div>
      </li>
      {% elif request.user.is_authenticated and request.user.is_staff %}
      <a class="nav-link" href="#TODO"
      ><span class="jam jam-document"></span> {% trans "Pedidos" %}</a
    >
      {% endif %}
      <li class="nav-item">
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
            ><span class="jam jam-menu"></span> {% trans "Menu Produtos" %}
          </a>
          <ul class="dropdown-menu">
            <a class="nav-link" href="{% url 'products:add'%}"
              ><span class="jam jam-plus"></span> {% trans "Adicionar Produto" %}</a
            >
            <a class="nav-link" href="{% url 'products:category_add'%}"
              ><span class="jam jam-plus"></span> {% trans "Adicionar Categoria" %}</a
            >
          </ul>
        </div>
      </li>
      <a class="nav-link" href="{% url 'account_logout' %}"
      ><span class="jam jam-log-out"></span> {% trans "Sair" %}</a
      >
    </ul>
  </div>
</nav>
