{% load static %} 
{% load static i18n compress %}

<!-- #### Admin Navigation Bar Area Start #### -->
<li class="nav-item">
  <div class="dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
      ><span class="jam jam-menu"></span> {% trans "Menu Administrador" %} 
    </a>
    <ul class="dropdown-menu">
      <a
        class="nav-link"
        href="{% url 'users:detail' request.user.username  %}"
        ><span class="jam jam-user"></span> {% trans "Meu Perfil" %}</a
      >
      <a
        class="nav-link"
        href="{% url 'products:add'%}"
        ><span class="jam jam-plus"></span> {% trans "Adicionar Produto" %}</a
      >
      <a
        class="nav-link"
        href="{% url 'products:category_add'%}"
        ><span class="jam jam-plus"></span> {% trans "Adicionar Categoria" %}</a
      >
      <a
        class="nav-link"
        href="{% url 'users:adminsignup'%}"
        ><span class="jam jam-plus"></span> {% trans "Adicionar Adminstrador" %}</a
      >
      <a
        class="nav-link"
        href="{% url 'users:staffsignup'%}"
        ><span class="jam jam-plus"></span> {% trans "Adicionar Colaborador" %}</a
      >
      <a
        class="nav-link"
        href="#TODO"
        ><span class="jam jam-document"></span> {% trans "Colaboradores" %}</a
      >
      <a
        class="nav-link"
        href="#TODO"
        ><span class="jam jam-document"></span> {% trans "Clientes" %}</a
      >
      <a
        class="nav-link"
        href="#TODO"
        ><span class="jam jam-document"></span> {% trans "Relatórios" %}</a
      >

    </ul>
  </div>
</li>
<!-- #### Admin Navigation Bar Area End #### -->
