{% load static %} 
{% load static i18n compress %}

<!-- #### Customer Navigation Bar Area Start #### -->
<li class="nav-item">
  <div class="dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
      ><span class="jam jam-menu"></span> {% trans "Minha Conta" %} 
    </a>
    <ul class="dropdown-menu">
      <a class="nav-link" href="{% url 'checkout:cart_item' %}" title='{% trans "Cart" %}'><span class="jam jam-shopping-cart">{% trans "Carrinho" %}</span></a>
      <a class="nav-link" href="#TODO" title='{% trans "Meus Pedidos" %}'><span class="jam jam-ordered-list">{% trans "Meus Pedidos" %}</span></a>
    </ul>
  </div>
</li>
<!-- #### Customer Navigation Bar Area End #### -->
