{% load static %} 
{% load static i18n compress %}

<!-- #### Admin Navigation Bar Area Start #### -->
<li class="nav-item">
  <div class="dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
      ><span class="jam jam-menu"></span> {% trans "Menu Administrativo" %} 
    </a>
    <ul class="dropdown-menu">
      <a
        class="nav-link"
        href="#TODO"
        ><span class="jam jam-document"></span> {% trans "Clientes" %}</a
      >

      <a
        class="nav-link"
        href="#TODO"
        ><span class="jam jam-document"></span> {% trans "Pedidos" %}</a
      >

      <a
        class="nav-link"
        href="#TODO"
        ><span class="jam jam-document"></span> {% trans "Relatórios" %}</a
      >

    </ul>
  </div>
</li>
<li class="nav-item">
  <div class="dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
      ><span class="jam jam-menu"></span> {% trans "Menu Colaboradores" %} 
    </a>
    <ul class="dropdown-menu">
      <a
      class="nav-link"
      href="#TODO"
      ><span class="jam jam-document"></span> {% trans "Administradores" %}</a
      >
      <a
      class="nav-link"
      href="#TODO"
      ><span class="jam jam-document"></span> {% trans "Colaboradores" %}</a
     >
      <a
        class="nav-link"
        href="{% url 'users:adminsignup'%}"
        ><span class="jam jam-plus"></span> {% trans "Adicionar Administrador" %}</a
      >
      <a
        class="nav-link"
        href="{% url 'users:staffsignup'%}"
        ><span class="jam jam-plus"></span> {% trans "Adicionar Colaborador" %}</a
      >
    </ul>
  </div>
</li>
{% include './_navbar_menu_products.html' %}
<!-- #### Admin Navigation Bar Area End #### -->
