{% load static %}
<div class="container">
  <div class="card-deck">
    {% for product in product_list %}
    <div class="col-sm-6 col-md-4">
      <div class="card h-100 w-100" style="padding: 5pt;">
        <p class="text-center">
          <a class="btn-link btn-sm " href="{% url 'products:product_by_category' product.category.slug %}">{{ product.category }}</a>
        </p>
        {% if product.image %}
        <img
          src="{{product.image.url}}"
          class="card-img-top"
          height="220px"
          width="220px"
          title="{{product.name}}"
        />
        {% else %}
        <img
          src="http://placehold.it/650x450text=Imagem"
          class="card-img img-responsive"
        />
        {% endif %}
        <div class="card-body">
          <div class="row">
            <div class="col-md-9 col-xs-3">
              <h4><strong>{{ product.name }}</strong></h4>
            </div>
            <div class="col-md-3 col-xs-3"><h5>{{ product.price }}</h5></div>
          </div>
          <p>Short Description</p>
        </div>
        <div class="row">
          {% if request.user.is_authenticated and request.user.is_staff %}
          <div class="col-md-12">
            <a
              class="btn btn-primary btn-success btn-block"
              href="{% url 'products:detail' product.slug %}"
              title="Detalhes"
              >Detalhes</a
            >
          </div>
          {% else %}
          <div class="col-md-6">
            <a
              class="btn btn-primary btn-success btn-block"
              href="{% url 'products:detail' product.slug %}"
              title="Detalhes"
              >Detalhes</a
            >
          </div>
          <div class="col-md-6">
            <a
              class="btn btn-secibdary btn-success btn-block"
              href="{% url 'checkout:create_cartitem' product.slug %}"
              title="Adicionar ao Carrinho"
              ><span class="jam jam-shopping-cart"></span
            ></a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
