{% load static %}

<div class="container">
  <div class="card-deck">
    {% for product in product_list %}
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      
      <div class="card text-center h-100">
        <div class="card-header">
          <p>
            <strong>
              {{product.name}}
              <a href="#TODO" title="Curtir"
                ><span class=""></span
              ></a>
            </strong>
          </p>
        </div>
        <div
          onclick="window.location='{% url 'products:detail' product.slug %}';"
          style="cursor: pointer;"
        >
          <img
            src="{{product.image.url}}"
            class="card-img-top"
            height="150px"
            width="150px"
            title="{{product.name}}"
          />
        </div>
        {% if product.category %}
          <a
            href="{% url 'products:product_by_category' product.category.slug %}"
            title="{{ product.category }}"
            >Categoria: {{ product.category }}</a
          >
        {% endif %}
       
        <div class="card-body">
          <span class="card-text text-right">
            <!-- Discount Verification -->
            {% if product.sale_price > 0 %}
              <p>
                <del class="font-italic text-danger"
                  >R${{ product.price }}</del>
                <br />
                {{ product.get_discount }}% OFF!
                <br />
                <h3 class="text-center font-weight-bold">R$ {{product.sale_price}}</h3>
              </p>
            {% else %}
              <p>
                <h3 class="text-center font-weight-bold">R$ {{product.price}}</h3>
              </p>
            {% endif %}
          </span>
          <!-- End of Discount Verification -->
        </div>
        <row class="card-footer">
          <div class="row text-center">
              <a class="btn btn-success btn-sm col-sm-5 mr-1" href="{% url 'products:detail' product.slug %}" title="Detalhes">Detalhes</a>
              <a class="btn btn-success btn-sm col-sm-5 mr-1" href="{% url 'checkout:create_cartitem' product.slug %}" title="Adicionar ao Carrinho"><span class=""></span></a>
          </div>
        </row>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
