{% extends "base.html" %}

{% block title %}
Finalização da Compra
{% endblock %}

{% block content %}
{% load static %}

<div class="page-header">
    <h1>Finalização da Compra</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success">
            <h3 style="text-align: center;">O Pedido # {{order.id}} foi realizado com Sucesso!</h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            {{order_object.id}}
            {{order_object.total}}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h5>Para realizar o pagamento efetue o depósito na seguinte conta:</h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </div>
</div>
{% endblock %}
{% block javascript %}

{% endblock javascript %}