{% extends "base.html" %}

{% block title %}
Finalização da Compra
{% endblock %}

{% block content %}
{% load static %}

<div class="page-header">
    <h1>Finalização da Compra</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success">
            <h3 style="text-align: center;">O Pedido # {{order.id}} foi realizado com Sucesso!</h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row m-6">
          </div>
          <ul class="list-group" id="item_list"></ul>
          <ul class="list-group">
              <li>{{order}}</li>
              <li>Total R${{order.total}}</li>
              <li>Produtos {{order.items}}</li>
          </ul>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <div class="container">
                <h5>Para realizar o pagamento efetue o depósito na seguinte conta:</h5>
                <ul>
                    <li>Agência: 6616</li>
                    <li>Conta : 045847-1</li>
                    <li>Conta Corrente</li>
                    <li>Proprietário: Dono Da Empresa</li>
                </ul>
                <br>
                <br>
                <br>
                    <div class="alert alert-info">
                        <h3 style="text-align: center;">Agradecemos a Confiança!</h3>
                    </div>
          </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{{block.super}}
<script type="text/javascript">
  let mycart = localStorage.getItem('cart');
  $("#item_list").val(mycart);
  localStorage.clear();
</script>

{% endblock javascript %}