{% extends "base.html" %}

{% block title %}
Finalização da Compra
{% endblock %}

{% block content %}
{% load static %}

<div class="page-header">
    <h1 style="text-align: center">Bem-Vindo à Compra sem Cadastro!</h1>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-12">
      <div class="alert alert-success">
          <h3 style="text-align: center;">O Pedido # {{order.id}} foi realizado com Sucesso!</h3>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <div class="row m-6">
        </div>
        <ul class="list-group" id="item_list"></ul>
        <ul class="list-group">
            <li>{{order}}</li>
            <li>Total R${{order.total}}</li>
            <li>Produtos {{order.items}}</li>
        </ul>
  </div>
</div>
<div class="row m-6">
    <div class="col-md-12">
      <h2>Detalhes de Envio</h2>
    </div>
  </div>
  <div class="col-md-12">
    <form method="POST">
      <input type="hidden" id="items" name="items" />
      <br>
      <hr></hr>
      <h2>Informações do Cliente</h2>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCPF">CPF</label>
          <input
          id="name"
          name="name"
          type="text"
          class="form-control"
          id="inputCPF"
          placeholder="000.000.000-01"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail">Email</label>
          <input
          id="name"
          name="name"
          type="text"
          class="form-control"
          id="inputEmail"
          placeholder="email@mail.com.br"
          />
        </div>
      </div>
      <hr>
      <h2>Informações para Entrega</h2>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputName">Nome</label>
            <input
              id="name"
              name="name"
              type="text"
              class="form-control"
              id="inputName"
              placeholder="Quem recebe"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="inputObs">Observação</label>
            <input
              id="email"
              name="email"
              type="text"
              class="form-control"
              id="inputObs"
              placeholder="Entrega somente após 12h00"
            />
          </div>
        </div>
        <div class="form-row ">
        <div class="form-group col-md-4">
          <label for="inputCEP">CEP</label>
          <input
            id="zipcode"
            name="zipcode"
            type="text"
            class="form-control"
            id="inputCEP"
            placeholder="12460-000"
          />
        </div>
        <div class="col-md-1">
            <a href="#TodoAPICall" class="btn btn-sm">Calcular</a>
        </div>
        <div class="form-group col-md-3">
          <label for="inputState">Estado</label>
          <input
            id="state"
            name="state"
            type="text"
            class="form-control"
            id="inputState"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="inputCity">Cidade</label>
          <input
          id="city"
          name="city"
          type="text"
          class="form-control"
          id="inputCity"
          placeholder="Lisboa"
      />
      </div>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="frete">Frete</label>
            <input
              readonly=""
              type="text"
              class="form-control"
              id="frete"
              name="frete"
            />
          </div>
          <div class="form-group col-md-9">
            <label for="total">Total</label>
            <input
              readonly=""
              type="text"
              class="form-control"
              id="total"
              name="total"
            />
          </div>
        </div>
        <a href="{% url 'checkout:complete'%}">
            <button type="submit" class="btn btn-lg btn-success">
                Finalizar Compra!
            </button>
        </a>
      </form>
    </div>
{% endblock %}

{% block javascript %}
{{block.super}}
<script type="text/javascript">
  let mycart = localStorage.getItem('cart');
  $("#item_list").val(mycart);
  localStorage.clear();
</script>

{% endblock javascript %}