{% extends "base.html" %}
{% load static %}

{% block title %}Usuário: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>
        {% if object.name %}
          {% if object.prefix %}
            Olá, {{object.prefix}} {{object.name}}
          {% else %}
            Olá, {{object.name}}
          {% endif %}
        {% endif %}
      </h2>

      {% if object.dob %}
        <p><strong>Aniversário:</strong> {{ object.dob }}</p>
      {% endif %}

      {% if object.cpf %}
        <p><strong>CPF:</strong> {{ object.cpf }}</p>
      {% endif %}

      {% if object.rg %}
        <p><strong>RG:</strong> {{ object.rg }}</p>
      {% endif %}

      {% if object.phone %}
        <p><strong>Telefone para contato:</strong> {{ object.phone }}</p>
      {% endif %}


    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Atualizar Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">Contas de E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

