<div class="container">
  <div class="card-deck">
    {% for product in product_list %}
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card text-center h-100">
        <div
          onclick="window.location='{% url 'products:detail' product.slug %}';"
          style="cursor: pointer;"
        >
          <img
            src="{{product.image.url}}"
            class="card-img-top"
            height="150px"
            width="150px"
            title="{{product.name}}"
          />
        </div>
        <div class="card-body">
          <!--TODO - Make rating loop\/-->
          <span class="card-title">
            <p>
              <strong>
                {{product.name}}
                <a href="#TODO" title="Curtir"
                  ><span class="jam jam-heart"></span
                ></a>
              </strong>
            </p>
          </span>

          <!--TODO - Make discount check condition loop\/-->
          <span class="card-text text-right">
            {# product.description #}
            {% if product.price %}
              <h4><strong>R$ </strong>{{product.price}}</h4>
            {% endif %}
            {% if product.category %}
              <p>
                Categoria:
                <a
                  href="{% url 'products:product_by_category' product.category.slug %}"
                  title="{{ product.category }}"
                  >{{ product.category }}</a
                >
              </p>
            {% endif %}
          </span>

          <!--TODO - ON HOVER \/-->

<!--    <form action="{% url 'cart:add' %}" id="form-add-to-cart">
            <div class="form-group">
                    <input type="hidden" name="vid" value="{{ product.id }}">
            </div>
            <div class="text-left">
                <button type="submit" class="btn btn-primary btn-lg btn-block">
                    Adicionar ao carrinho
                </button>
            </div>
        </form> -->
        <form action="{% url 'cart:add' %}" id="form-add-to-cart">
          <div class="form-group">
            <select id="select-variations" name="vid" class="form-control form-control-lg">
              {% for variation in product.variation_set.all %}
                {% if variation.sale_price %}
                  <option 
                    data-price="{{ variation.price }}"
                    data-sale-price="{{ variation.sale_price }}"
                    value="{{ variation.id }}"
                    >{{ variation.name }}
                  </option>
                {% else %}
                  <option 
                    data-price="{{ variation.price }}"
                    value="{{ variation.id }}"
                    >{{ variation.name }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="text-left">
            <button type="submit" class="btn btn-primary btn-lg btn-block">
                Adicionar ao carrinho
            </button>
        </div>
        </form>


<!--    <form action="{% url 'cart:add'%}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{ product.id }}" name="variation_id">
            <button
              class="btn btn-secondary btn-sm"
              title="Adicionar ao Carrinho"
              type="submit"
            >
              Adicionar ao Carrinho
            </button>
          </form> -->
        
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
