{% extends "base.html" %} 
{% block title %} Produtos por Categoria {% endblock title %}

{% block content %}
<div class="page-header text-center mb-4">
  <h1>Produtos por Categoria</h1>
</div>
<h3>
  Categoria: {{ category.name }}
</h3>
<div class="container">
  <div class="card-deck">
    {% for product in product_list %}
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card text-center h-100">
        <div class="card-body">
          <span class="card-text text-right">

            {% if product.price %}
              <h4><strong>R$ </strong>{{product.price}}</h4>
            {% endif %}

            {% if product.category %}
              <p>Categoria: {{ product.category }}</p>
            {% endif %}
            
          </span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<hr />
{% endblock content %}
