{% load static %} 
{% load static i18n compress %}

<!-- ADMIN NAVBAR HERE -->
<ul class="navbar-nav justify-content-center w-100 bg-light px-3">
  {% if request.user.is_authenticated and request.user.is_admin %}
  <li class="nav-item">
    <div class="dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
        ><span class="jam jam-menu"></span> {% trans "Menu Administrativo" %}
      </a>

      <ul class="dropdown-menu">
        <a class="nav-link" href="#TODO"
          ><span class="jam jam-document"></span> {% trans "Pedidos" %}</a
        >
        <a class="nav-link" href="#TODO"
          ><span class="jam jam-document"></span> {% trans "Relatórios" %}</a
        >
      </ul>
    </div>
  </li>
  <li class="nav-item">
    <div class="dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
        ><span class="jam jam-menu"></span> {% trans "Menu Usuários" %}
      </a>
      <ul class="dropdown-menu">
        <a class="nav-link" href="{% url 'users:stafflist'%}"
          ><span class="jam jam-document"></span> {% trans "Colaboradores" %}</a
        >
        <a class="nav-link" href="{% url 'users:staffsignup'%}"
          ><span class="jam jam-plus"></span> {% trans "Adicionar Colaborador"  %}</a
        >
        <a class="nav-link" href="{% url 'users:customerlist'%}"
          ><span class="jam jam-document"></span> {% trans "Clientes" %}</a
        >
      </ul>
    </div>
  </li>
  {% endif %}
  <li class="nav-item">
    <div class="dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
        ><span class="jam jam-menu"></span> {% trans "Menu Produtos" %}
      </a>
      <ul class="dropdown-menu">
        <a class="nav-link" href="{% url 'products:add'%}"
          ><span class="jam jam-plus"></span> {% trans "Adicionar Produto" %}</a
        >
        <a class="nav-link" href="{% url 'products:category_add'%}"
          ><span class="jam jam-plus"></span> {% trans "Adicionar Categoria" %}</a
        >
      </ul>
    </div>
  </li>
</ul>
<!--END ADMIN NAVBAR HERE -->

<!-- #### Navigation Bar Area End #### -->
